<launch>

  <node output = "screen" name="recognizer" pkg="speech_recognizer" type="recognizer.py">
    <param name="lm" value="$(find speech_recognizer)/demo/ez_kart.lm"/>
    <param name="dict" value="$(find speech_recognizer)/demo/ez_kart.dic"/>
  </node>

  <node name="" pkg="voice_control" type="voice_control.py"></node>

  <node name="" pkg="status_monitor" type="status_monitor.py"></node>

  <group>
  	<include file="$(find uvc_camera)/launch/camera_node.launch" />
  	<include file="$(find apriltags_ros)/launch/example.launch" />


  	<node name="" pkg="tracking" type="tracking.py"></node>
  </group>

</launch>
