<launch>

  <node output = "screen" name="recognizer" pkg="speech_recognizer" type="recognizer.py">
    <param name="lm" value="$(find speech_recognizer)/demo/ez_kart.lm"/>
    <param name="dict" value="$(find speech_recognizer)/demo/ez_kart.dic"/>
  </node>

  <node name="" pkg="voice_control" type="voice_control.py"/>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>

  <node name="" pkg="status_monitor" type="status_monitor.py" />

  <group>
  	<include file="$(find uvc_camera)/launch/camera_node.launch" />
  	<include file="$(find apriltags_ros)/launch/example.launch" />


  	<node name="" pkg="tracking" type="tracking.py"></node>
  </group>

  <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
  	<param name="port" value="/dev/ttyACM0"/>
  	<param name="baud" value="115200"/>
  </node>

  <node name="" pkg="controls" type="controller" output="screen" />

</launch>
